{% extends "base.html.twig" %}

{% block title %}index.html.twig
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
	<h1>Bienvenue!</h1>
	<img src="https://img.freepik.com/free-vector/city-park-with-green-trees-lawn_107791-5449.jpg?w=900&t=st=1662452864~exp=1662453464~hmac=aad98f94d14e7837d33fd67790da2f3ef78ce1ee3477b54d425f3cc69557e611" alt=""/>
{% endblock %}
